/* Variables */
$hoverScale: 1.03;

/* Pokemon Listing */

.pokemons-listing {
  padding: 5% 0;


  * {
    transition: .5s all;
  }


  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .pokemon-results {
      display: inline-block;

      .row {

        .hvr-bounce-in {

          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;

          &:hover {
            cursor: pointer;
            z-index: 99;
            -webkit-transform: scale($hoverScale);
            transform: scale($hoverScale);
            -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
            transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
          }

          &:active {
            cursor: pointer;
            z-index: 99;
            -webkit-transform: scale($hoverScale);
            transform: scale($hoverScale);
            -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
            transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
          }

          &:focus {
            cursor: pointer;
            z-index: 99;
            -webkit-transform: scale($hoverScale);
            transform: scale($hoverScale);
            -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
            transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
          }
        }

        .listing-element {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.58);
          margin: 0 0 30px 0;
          height: 150px;
          border-radius: 5px;
          padding: 2% 5%;

          .number {
            color: #f8f8f8;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 32px;
            margin: 0 0 24px;
            text-shadow: 2px 2px rgba(55, 55, 55, 0.5);
            display: inline;
          }
          .img-container {
            position: absolute;
            left: 15%;
            bottom: 30px;

            .img {
              max-height: 125px;
            }
          }

          .name {
            display: inline-block;
            font-family: 'Archivo Black', sans-serif;
            color: #f8f8f8;
            font-weight: 600;
            font-size: 30px;
            text-shadow: 2px 2px rgba(55, 55, 55, 0.5);
            position: absolute;
            right: 10%;
            top: 10%;
            transform: rotate(7deg);
          }

          .type-container{
            width: 25%;
            position: absolute;
            bottom: 20%;
            right: 5%;
            text-align: right;


            .type1-img{
              width: 40%;
              height: auto;
              display: inline-block;
            }

            .type2-img{
              width: 40%;
              height: auto;
              display: inline-block;
            }
          }
        }

        /* Extra large screens */
        @media screen and (min-width: 1250px) {
          .col-xl-4 {
            width: 33%;
          }
        }

      }
    }

    .search-area {
      display: inline-block;
      position: fixed;
      float: left;
      width: 20%;
      margin: 0 2.5%;
      border-radius: 5px;
      height: 90vh;
      background-color: #f8f8f8;
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
      left: 0;
    }
  }
}
