<div class="wrapper">
  <button class="getPokemonsButton" #getPokemons mat-button>Get pokemons</button>
  <table class="table">
    <tr class="header">
      <th>Number</th>
      <th>Name</th>
      <th>Primary Type</th>
      <th>Secondary Type</th>
      <th>Health</th>
      <th>Attack</th>
      <th>Defence</th>
      <th>Special Attack</th>
      <th>Special Defence</th>
      <th>Speed</th>
      <th>Generation</th>
      <th>Legendary</th>
    </tr>
    <tr class="row" *ngFor="let pokemon of pokemons$ | async">
      <td>{{pokemon.number}}</td>
      <td>{{pokemon.name}}</td>
      <td>{{pokemon.primaryType}}</td>
      <td>{{pokemon.secondaryType}}</td>
      <td>{{pokemon.health}}</td>
      <td>{{pokemon.attack}}</td>
      <td>{{pokemon.defence}}</td>
      <td>{{pokemon.specialAttack}}</td>
      <td>{{pokemon.specialDefence}}</td>
      <td>{{pokemon.speed}}</td>
      <td>{{pokemon.generation}}</td>
      <td>{{pokemon.legendary}}</td>
    <tr>
  </table>
</div>
