<div class="wrapper pokemons-listing">

  <div class="content col-sm-12 col-md-12 col-lg-12">
    <div #searchArea class="search-area">
      <h1 class="search-header">
        Explore
        <span class="glyphicon glyphicon-triangle-left dropdown-triangle" aria-hidden="true" (click)="expandSearch(searchArea)"></span>
      </h1>
      <div class="name-group form-group">
        <label for="query-name" class="text-label">
        Name
        </label>
        <input #nameField id="query-name" type="text" class="text-input form-control" placeholder="Pikachu">
      </div>
      <div class="name-group form-group">
        <label class="text-label">
          Number
        </label>
        <input #fromNumberField id="query-from-number" type="number" class="number-input form-control" placeholder="From">
        <input #toNumberField id="query-to-number" type="number" class="number-input form-control" placeholder="To">
      </div>
      <div class="name-group form-group">
        <label for="query-name" class="text-label">
          Types
        </label>
        <button #grassTypeButton class="btn typeButton" data-toggle="tooltip" title="Grass" (click)="toggleTypeButton('grass', grassTypeButton)"><img src="../../assets/images/pokemon_types/grass.png"> </button>
        <button #bugTypeButton class="btn typeButton" data-toggle="tooltip" title="Bug" (click)="toggleTypeButton('bug', bugTypeButton)"><img src="../../assets/images/pokemon_types/bug.png"> </button>
        <button #darkTypeButton class="btn typeButton" data-toggle="tooltip" title="Dark" (click)="toggleTypeButton('dark', darkTypeButton)"><img src="../../assets/images/pokemon_types/dark.png"> </button>
        <button #dragonTypeButton class="btn typeButton" data-toggle="tooltip" title="Dragon" (click)="toggleTypeButton('dragon', dragonTypeButton)"><img src="../../assets/images/pokemon_types/dragon.png"> </button>
        <button #electricTypeButton class="btn typeButton" data-toggle="tooltip" title="Electric" (click)="toggleTypeButton('electric', electricTypeButton)"><img src="../../assets/images/pokemon_types/electric.png"> </button>
        <button #fairyTypeButton class="btn typeButton" data-toggle="tooltip" title="Fairy" (click)="toggleTypeButton('fairy', fairyTypeButton)"><img src="../../assets/images/pokemon_types/fairy.png"> </button>
        <button #fightingTypeButton class="btn typeButton" data-toggle="tooltip" title="Fighting" (click)="toggleTypeButton('fighting', fightingTypeButton)"><img src="../../assets/images/pokemon_types/fighting.png"> </button>
        <button #fireTypeButton class="btn typeButton" data-toggle="tooltip" title="Fire" (click)="toggleTypeButton('fire', fireTypeButton)"><img src="../../assets/images/pokemon_types/fire.png"> </button>
        <button #flyingTypeButton class="btn typeButton" data-toggle="tooltip" title="Flying" (click)="toggleTypeButton('flying', flyingTypeButton)"><img src="../../assets/images/pokemon_types/flying.png"> </button>
        <button #ghostTypeButton class="btn typeButton" data-toggle="tooltip" title="Ghost" (click)="toggleTypeButton('ghost', ghostTypeButton)"><img src="../../assets/images/pokemon_types/ghost.png"> </button>
        <button #groundTypeButton class="btn typeButton" data-toggle="tooltip" title="Ground" (click)="toggleTypeButton('ground', groundTypeButton)"><img src="../../assets/images/pokemon_types/ground.png"> </button>
        <button #iceTypeButton class="btn typeButton" data-toggle="tooltip" title="Ice" (click)="toggleTypeButton('ice', iceTypeButton)"><img src="../../assets/images/pokemon_types/ice.png"> </button>
        <button #normalTypeButton class="btn typeButton" data-toggle="tooltip" title="Normal" (click)="toggleTypeButton('normal', normalTypeButton)"><img src="../../assets/images/pokemon_types/normal.png"> </button>
        <button #poisonTypeButton class="btn typeButton" data-toggle="tooltip" title="Poison" (click)="toggleTypeButton('poison', poisonTypeButton)"><img src="../../assets/images/pokemon_types/poison.png"> </button>
        <button #psychicTypeButton class="btn typeButton" data-toggle="tooltip" title="Psychic" (click)="toggleTypeButton('psychic', psychicTypeButton)"><img src="../../assets/images/pokemon_types/psychic.png"> </button>
        <button #steelTypeButton class="btn typeButton" data-toggle="tooltip" title="Steel" (click)="toggleTypeButton('steel', steelTypeButton)"><img src="../../assets/images/pokemon_types/steel.png"> </button>
        <button #waterTypeButton class="btn typeButton" data-toggle="tooltip" title="Water" (click)="toggleTypeButton('water', waterTypeButton)"><img src="../../assets/images/pokemon_types/water.png"> </button>

      </div>
      <button class="btn btn-default submit-btn" (click)="search({
      name: nameField.value,
      numberFrom: fromNumberField.value,
      numberTo: toNumberField.value,
      typeList: typeFilter
      })">
        Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      <button #numberSortBtn class="btn btn-default number-sort asc" (click)="setSort('number', numberSortBtn, nameSortBtn)">
        Order By Number <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </button>
      <button #nameSortBtn class="btn btn-default name-sort asc inactive" (click)="setSort('name', nameSortBtn, numberSortBtn)">
        Order By Name <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </button>
    </div>
    <div class="shader-wrapper col-xs-12
      col-sm-12
      col-md-9
      col-lg-9">
      <div class="pokemon-results">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 hvr-bounce-in"
            *ngFor="let pokemon of pokemons$ | async">
            <div class="listing-element"
                 [ngStyle]="{'background':
                 'radial-gradient(circle,' + pokemon.color_1 + ', ' + shadeColor2(pokemon.color_1, -0.5) + ')'}"
                 [routerLink]="['/pokemons', pokemon._id]">
              <div class="number">
                # {{getPaddedNumber(pokemon.number)}}
              </div>
              <div class="img-container">
                <img class="img" alt="{{pokemon.name}}" src="{{getImageSource(pokemon.number)}}">
              </div>
              <div class="name">
                {{capitalizeFirstLetter(pokemon.name)}}
              </div>
              <div class="type-container">
                <img *ngIf="verifyType(pokemon.type_1)" class="type1-img" alt="type one icon"
                     src="../../assets/images/pokemon_types/{{pokemon.type_1}}.png">
                <img *ngIf="verifyType(pokemon.type_2)" class="type2-img" alt="type two icon"
                     src="../../assets/images/pokemon_types/{{pokemon.type_2}}.png">
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!--
<td>{{pokemon.number}}</td>
<td>{{pokemon.name}}</td>
<td>{{pokemon.type_1}}</td>
<td>{{pokemon.type_2}}</td>
<td>{{pokemon.hp}}</td>
<td>{{pokemon.attack}}</td>
<td>{{pokemon.defense}}</td>
<td>{{pokemon.special_attack}}</td>
<td>{{pokemon.special_defense}}</td>
<td>{{pokemon.speed}}</td>
-->
