.wrapper {
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
}

.table tr:nth-child(even) {
  background-color: #f4f4f4;
}

.header {
}

.row {
}

th {
  border-bottom: 1px solid black;
  text-align: left;
}

th,
td {
  padding: 15px;
}

.getPokemonsButton {
  margin: 0 auto;
}
